body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* first section */
.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.first-line{
    font-size: 30px;
    text-transform: capitalize;
    
}
.name-line{
    text-transform: capitalize;
}
section{
    display: flex;
}
.sec-part-1{
    width: 50%;
    padding-left: 5%;
    margin-top: 60px;
}

.sec-part-1 img{
    width: 80%;
}
.text-co-2{
    color: orange;
}
.descrp{
    text-align: justify;
    color: dimgray;
}

.hire-btn{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 14px;
    
}
.hire-bttn{
    
    padding: 10px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
}


/* Second section */

.second-sec{
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}
.dream-sec{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.sec-para{
    text-align: justify;
    color: dimgray;
}
.title-dream{
    text-transform: capitalize;
    font-size: 30px;

}

.short-note{
    text-transform: capitalize;
}

.dream-sec img{
    width: 85%;
}

.dwnld-rsm{
    padding: 10px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: wheat;
    
}
.dwld-btn{
    margin-top: 40px;
}

